@font-face {
	font-family: Inter;
	src: url('./assets/fonts/Inter.ttf') format('truetype');
}
@font-face {
	font-family: OpenDyslexic;
	src: url('./assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: OpenDyslexic;
	src: url('./assets/fonts/OpenDyslexic-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: OpenDyslexic;
	src: url('./assets/fonts/OpenDyslexic-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: OpenDyslexic;
	src: url('./assets/fonts/OpenDyslexic-Bold-Italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: transparent;
}
* {
	margin: 0;
	padding: 0;

	font-family: inherit;
	line-height: inherit;
	color: inherit;
}

:root {
	--font-family: Inter, 'Arial', sans-serif;
	--font-size: 0.875rem;
	--font-weight: 300;
	--primary-color: #07080f;
	--secondary-color: #ffffff;
	--tertiary-color: #e4e6eb;
	--slider-size: 6px;
	--slider-thumb-size: 14px;
	--border-radius: 5px;
	--border-radius-full: 50%;
}

html,
body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

.button-container {
	padding: 0.875rem;
}
button {
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
button#speakButton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	padding: 0.5rem;
	background-color: var(--secondary-color);
	transition: background-color 0.2s ease-in-out;
}
button#speakButton:hover {
	background-color: var(--tertiary-color);
}
.setting-options button {
	font-size: 0.75rem;
}

.hr {
	border-top: 1px solid var(--primary-color);
}
/* prettier-ignore */
h1, h2, p, span {
	color: inherit;
	font-weight: inherit;
	line-height: normal;
}
/* h1 only for semantic value and screenreaders */
h1 {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
}

h2.options-title,
h2.settings-title {
	font-size: 1rem;
	padding: 0.625rem 0.875rem;
	text-transform: uppercase;
}

section.extension {
	display: flex;
	flex-direction: column;
	gap: 1.375rem;
	padding-block: 0.5rem;
}

.options-content,
.settings-content {
	display: flex;
	flex-direction: column;
	background-color: var(--tertiary-color);
}

.setting {
	display: flex;
	justify-content: space-between;
	padding: 0.875rem;
}

.setting-options {
	display: flex;
	gap: 1rem;
}

.checkbox-group,
.dropdown-group {
	display: flex;
	align-items: center;
}

.checkbox,
.dropdown {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.875rem;
}
.dropdown.setting,
.dropdown.setting .dropdown-item {
	display: flex;
	justify-content: space-between;
}

.slider {
	display: grid;
	grid-template-columns: 2fr 4fr 1fr;
	gap: 1rem;
	align-items: center;
	width: 100%;
	padding: 0.875rem;
}

.checkbox-group + .slider,
.dropdown-group + .slider,
.slider + .slider,
.setting + .setting {
	border-top: 1px solid var(--secondary-color);
}
.checkbox + .checkbox,
.dropdown + .dropdown {
	border-left: 1px solid var(--secondary-color);
}

.checkbox-title,
.dropdown-title,
.slider-title {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	white-space: nowrap;
}

.slider-value,
.slider-value > span {
	text-align: right;
}

/* checkbox */
input[type='checkbox'],
input[type='radio'] {
	display: none;
}

label.checkbox {
	transition: 0.2s ease-in-out;
	transition-property: background-color, color;
	cursor: pointer;
}
label.checkbox:hover {
	background-color: var(--secondary-color);
}
label.checkbox:has(:checked) {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

/* dropdown */
.dropdown {
	position: relative;
}

.dropdown-content {
	opacity: 0;
	visibility: hidden;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.dropdown-content:has(.dropdown-item),
.dropdown-content:has(.color-picker) {
	border: 1px solid var(--primary-color);
}
.setting .dropdown-content {
	top: initial;
	bottom: 100%;
}
.dropdown-content:hover,
.dropdown-content:focus-within,
.dropdown:hover .dropdown-content {
	opacity: 1;
	visibility: visible;
	display: flex;
}

.dropdown-item {
	padding: 0.5rem;
	background-color: var(--secondary-color);
	transition: 0.2s ease-in-out;
	transition-property: background-color, color;
	cursor: pointer;
}
.dropdown-item:not(:has(:checked)):hover {
	background-color: var(--tertiary-color);
}
.dropdown-item:has(:checked) {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}
.dropdown-item + .dropdown-item {
	border-top: 1px solid var(--primary-color);
}

.dropdown-content--specific .dropdown-item {
	cursor: default;
}
.dropdown-content--specific .dropdown-item:hover {
	background-color: var(--secondary-color);
}

/* radio with fonts */
label:has(input[value='Arial']) {
	font-family: 'Arial', sans-serif;
}
label:has(input[value='Montserrat']) {
	font-family: 'Montserrat', sans-serif;
}
label:has(input[value='Inter']) {
	font-family: 'Inter', sans-serif;
}
label:has(input[value='OpenDyslexic']) {
	font-family: 'OpenDyslexic', sans-serif;
}

/* colorpicker */
.color-picker {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	padding: 0.25rem;
	background-color: var(--secondary-color);
	cursor: pointer;
}

input[type='color'] {
	background: none;
	border: none;
	cursor: pointer;
}

/* slider */
input[type='range'][name^='slider-'] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: var(--slider-size);
	border-radius: var(--border-radius);
	background: var(--secondary-color);
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

input[type='range'][name^='slider-']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--slider-thumb-size);
	height: var(--slider-thumb-size);
	border-radius: var(--border-radius-full);
	background-color: var(--primary-color);
	cursor: pointer;
}

input[type='range'][name^='slider-']::-moz-range-thumb {
	width: var(--slider-thumb-size);
	height: var(--slider-thumb-size);
	border-radius: var(--border-radius-full);
	background-color: var(--primary-color);
	cursor: pointer;
}

/* tooltip */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip-text {
	visibility: hidden;
	position: absolute;
	bottom: 150%;
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
	padding: 5px;
	font-size: 0.75rem;
	text-align: center;
	white-space: nowrap;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-radius: var(--border-radius);
	z-index: 1;
}

.tooltip-text::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: var(--primary-color) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

.tooltip--right .tooltip-text,
.tooltip--right .tooltip-text::after {
	left: initial;
	transform: unset;
}
.tooltip--right .tooltip-text {
	right: 0;
}
.tooltip--right .tooltip-text::after {
	right: 10%;
}

/* icons */
svg {
	fill: none;
	width: 12px;
	height: 11px;
}
.svg--font {
	width: 13px;
}
.svg--color {
	width: 16px;
	height: 12px;
}
.svg--line {
	width: 18px;
	height: 12px;
}
.svg--spacing {
	width: 13px;
	height: 12px;
}
.svg--invert,
.svg--monochrome {
	width: 10px;
	height: 10px;
}
.svg--contrast {
	width: 14px;
	height: 14px;
}
.svg--saturation {
	transform: rotate(-90deg);
}
.svg--tts {
	width: 15px;
	height: 13px;
	margin-top: 1px;
}
svg:not(.svg--font):not(.svg--color):not(.svg--invert):not(.svg--monochrome) path {
	stroke: var(--primary-color);
	stroke-linecap: round;
	stroke-linejoin: round;
}
svg.svg--font path {
	stroke: var(--primary-color);
}
.svg--settings {
	width: 15px;
	height: 15px;
}
.svg--settings path {
	stroke-width: 1.2;
}
